<html>
    
    <body>
        <h1>
            At foo bar
        </h1>    

        <h2>Food Name: <%= item.name %></h2>
        <img src=<%= item.image %>/>
        <h3>Price: $<%= item.price %></h3>
        <a href="/drinks">Go back</a>
       
    </body>
    <style>
        body{background-color: lightslategrey;}
        h1{color: pink;}
        h2{color: white;}
        img{width: 250px;}
        h3{color:white}
    </style>
 
</html>